In [1]:
from tqdm.notebook import tqdm
import labwons as lw
import pandas as pd
import plotly.graph_objects as go

lw.API.SSYM = "95012214-44b0-4664-813f-a7ef5ad3b0b4"
lw.API.ECOS = "CEW3KQU603E6GA8VX0O9"

In [2]:
def eq(ticker:str) -> lw.Equity:
    if not f'_{ticker}_' in globals():
        globals()[f'_{ticker}_'] = lw.Equity(ticker)
    return globals()[f'_{ticker}_']

In [3]:
pool = lw.MetaData[lw.MetaData['industry'] == 'WI26 반도체']
loop = tqdm(pool.index)
objs_gaps = list()
objs_trds = list()
for ticker in loop:
    loop.set_description(ticker)
    if len(eq(ticker).ohlcv) < 126:
        continue
    objs_gaps.append(eq(ticker).trend.gaps())
    # objs_trds.append(eq(ticker).trend.strength())
gaps = pd.concat(objs=objs_gaps, axis=0)
# trends = pd.concat(objs=objs_trds, axis=0)
gaps

  0%|          | 0/141 [00:00<?, ?it/s]

               0         1         2         3         4         5
000660  0.307918  1.546204  1.953007  0.627400 -1.689967 -0.530010
000990 -1.537033 -0.352522  0.376602 -2.014253 -0.777881  1.244204
003160  0.235854  0.769478  1.960284  0.150683 -0.443003  1.142101
005290 -1.491403 -0.205916  0.272053 -1.102432 -1.615029 -0.463537
005930 -0.381479  1.452638  1.966820  0.028078 -0.232727  3.768530
...          ...       ...       ...       ...       ...       ...
412350  1.521532  0.121921  0.081677       NaN       NaN       NaN
417500 -1.330440  0.470649       NaN       NaN       NaN       NaN
417840 -0.617042  2.546089       NaN       NaN       NaN       NaN
425040 -1.443166  1.277481       NaN       NaN       NaN       NaN
425420  3.204203  2.241110       NaN       NaN       NaN       NaN

[135 rows x 6 columns]

In [4]:
df = gaps.sort_values(by='1Y')
df

KeyError: '1Y'